.body{
    margin: 0;
}

.header{
    background: lightgray;
}

.text{
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    border: 3px solid white; 
}

.text span{
    padding: 10px;
}

.administrator{
    background: lightgreen;
}

.coordinator{
    background: lightpink;

}

.user{
    background: lightblue;
}

.unknown{
    background: red;
}