body, ul{
	
	margin: 0;
	padding: 0;
}

#main-header{
	
	background-color: black;
	color: gold;
	
}

a{
	
	text-decoration: none;
	color: gold;
}

/*Header CSS - START*/

a{
	
	text-decoration: none;
	color: gold;
}

ul{
	
	margin: 0;
	padding: 0;
}

#main-header{

	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-content: center;
}

#top-header{
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding: 1% 0;
}

#top-header-center a img{

	display: flex;
	max-width: 100px;
	margin: 10%;
	justify-content: center;
	align-content: center;
}

#top-header-left{
	
	display: flex;
	margin-left: 5%;
	padding: 0 5%;
	font-size: 30px;
    letter-spacing: 15px;
	max-width: 100%;
	justify-content: center;
	align-items: center;
} 

#top-header-right{
	
	display: flex;
	margin-left: 5%;
	padding: 0 5%;
	font-size: 30px;
    letter-spacing: 15px;
	max-width: 100%;
	justify-content: center;
	align-items: center;
}

#bottom-header{
	
	display: flex;
	justify-content: center;
	padding: 0 10px;
	background-color: black;
	color: gold;
}

#bottom-header ul li{
	
	display: inline-block;
}

#bottom-header ul li a{
	
    text-transform: uppercase;
    padding: 15px 35px;
    display: inline-block;
    font-size: 14px;
    transition: 250ms ease-in-out all;
    letter-spacing: 2px;
}

#bottom-header ul li a:hover{
	
	background-color: gold;
	color: black;
	transform: scale(1.02);
}

/*Header CSS - END*/

/*header MEDIA Q - START*/

@media screen and (max-width: 767px){

	#top-header-center a img{

		max-width: 40px;
	}
	

	#top-header-left, #top-header-right{

		font-size: 10px;
	}
	
	#bottom-header ul li a{
	
		text-transform: uppercase;
		padding: 5px 3px;
		display: inline-block;
		font-size: 7px;
        transition: 250ms ease-in-out all;
        letter-spacing: 2px;

	}
}

@media screen and (min-width: 768px) and (max-width: 1023px){

	#top-header-center a img{

		max-width: 60px;
	}

	#top-header-left, #top-header-right{

		font-size: 15px;
	}
	
	#bottom-header ul li a{
	
		text-transform: uppercase;
		padding: 7px 5px;
		display: inline-block;
		font-size: 12px;
        transition: 250ms ease-in-out all;
        letter-spacing: 2px;

	}
}

@media screen and (min-width: 1024px) and (max-width: 1260px){

	#top-header-center a img{

		max-width: 80px;
	}

	#top-header-left, #top-header-right{

		font-size: 25px;
	}
	
	#bottom-header ul li a{
	
		text-transform: uppercase;
		padding: 10px 25px;
		display: inline-block;
		font-size: 12px;
        transition: 250ms ease-in-out all;
        letter-spacing: 2px;

	}
	
}

@media screen and (min-width: 1261px){

	#top-header-center a img{

		max-width: 100px;
	}

	#top-header-left, #top-header-right{

		font-size: 30px;
	}
	
	#bottom-header ul li a{
	
		text-transform: uppercase;
		padding: 15px 35px;
		display: inline-block;
		font-size: 14px;
        transition: 250ms ease-in-out all;
        letter-spacing: 2px;

	}
	
}

/*header MEDIA Q - END*/