body, ul{
	
	margin: 0;
	padding: 0;
}

#page{
	
	background-color: black;
	color: gold;
	
}

a{
	
	text-decoration: none;
	color: gold;
}

/*Main CSS - START*/

.section-one{

    max-width: 100%;
}

h1{
	background-color: gold;
	color: black;
	margin: 0;
	padding: 10px 0;
    font-size: 20px;
    letter-spacing: 10px;
    text-align: center;
	font-family: 'Courier New', Courier, monospace;
}

#section-one-bottom{

    padding: 0 0 3%;
    background-image: url("Media/background_image.jpg");
    background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}


#s1content2{

    display: flex;
	flex-direction: column;
	align-items: center;
}

#img1{

    justify-content: center;
	margin: 5% 10% 3%;
}

#img1 img{

    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.details{

	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	align-content: center;
}

#d1{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

#d2{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

#d1 p, #d2 p{

	margin: 2% 10%;
	line-height: 160%;
	display: flex;
	text-align: justify;
	width: 100%;
	justify-content: center;

}

#special{

	width: 100%;
}

#special p{

	text-align: justify;
	margin: 2% 10%;
    line-height: 160%;
}

/*Main CSS - END*/

/*main MEDIA Q - START*/

@media screen and (max-width: 767px){
	
	h1{
		font-size: 10px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px){
	
	h1{
		
		font-size: 15px;
	}	
}

@media screen and (min-width: 1024px) and (max-width: 1260px){
	
	h1{
		
		font-size: 20px;
	}
}

@media screen and (min-width: 1261px){
	
	h1{
		
		font-size: 20px;
	}
}

/*main MEDIA Q - END*/