#wrapper{
	
	width: 100vw;
	height: 100hw;
	display: flex;
	justify-content: center;
	align-items: center;
}

#gallery{
	
	width: 80%;
	display: flex;
	justify-content: space-around;
}

#gallery .item{
	
	width: 24%;
}

@media screen and (min-width: 600px) and (max-width: 900px){
	
	#gallery{
		
		flex-wrap: wrap;
	}
	
	#gallery .item{
		
		width: 48%;
	}
}

@media screen and (max-width: 599px){
	
	#wrapper{
		
		align-items: baseline;
	}
	
	#gallery{
		
		flex-wrap: wrap;
	}
	
	#gallery .item{
		
		width: 98%;
	}
}

#gallery .item img{
	
	width: 100%;
}

#gallery .item p{
	
	text-align: center;
	font-weight: bold;
}

body{
	
	margin: 0;
	padding: 0;
}

